<div>
    <h1>Crear Artista</h1>
    <form action="/artista/crear" method="POST" id="form-artista">
        <!--<input type="file" accept="image/*" name="image", placeholder="Profile Picture">-->
        <input type="text" name="name" placeholder="Nombre del Artista">
        <textarea name="description" placeholder="Breve descripcion del artista..."></textarea>
        <!--<input type="text" name="informacion" placeholder="Breve descripcion del artista...">-->

        <button type="submit" id="guardar">Guardar</button>
    </form>
</div>