<!--<div>
    <h1>Crear Artista</h1>
    <form action="/artista/crear" method="POST" id="form-artista">
        <input type="text" name="name" placeholder="Nombre del Artista">
        <textarea name="description" placeholder="Breve descripcion del artista..."></textarea>

        <button type="submit" id="guardar">Guardar</button>
    </form>
</div>-->

<div class="create">
    <h1>Perfil del Artista</h1>
</div>
<form action="/artista/crear" method="POST" id="form-artista" class="form-playlist">
    <img src="/assets/icons/artistIcon.svg" alt="">
    <input type="text" name="name" placeholder="Nombre del Artista">
    <textarea name="description" placeholder="Breve descripcion del artista..."></textarea>

    <button type="submit" id="guardar">Guardar</button>
</form>