<div class="create">
    <h1>Crear Playlist</h1>
</div>
<form action="/playlist/crear" method="POST" class="form-playlist">
<img src="/assets/icons/playlistIcon.svg" alt="">
    <input type="text" name="title" placeholder="Titulo de la playlist">
    <textarea name="description" placeholder="Description de la playlist"></textarea>

    <button type="submit">Crear</button>
</form>