<div>
    <h1>Crear Playlist</h1>
    <form action="/playlist/crear" method="POST">
        <input type="text" name="title" placeholder="Titulo de la playlist">
        <textarea name="description" placeholder="Description de la playlist"></textarea>

        <button type="submit">Crear</button>
    </form>
</div>