{{#if playlists}}
<div class="create">
    <h1>{{length}} playlists</h1>
</div>

<div class="box-playlist">
{{#each playlists}}
<a href="/playlist/{{ _id }}" class="box">
    <h3>{{ title }}</h3>
    <p>{{ description }}</p>
</a>
{{/each}}
</div>

{{/if}}