<div>
    {{#each playlistCanciones}}
    <div>
        {{#each canciones}}
        <h3>{{ titlesong }}</h3>
        <p>{{ musicArtist.title }}</p>
        <p>{{ musicArtist.artist.name }}</p>
        {{/each}}
    </div>
    {{/each}}
</div>