<div>
    <h1>Canciones</h1>
    <form action="/buscar/canciones" method="POST">
        <input type="text" name="title" placeholder="Titulo de la Cancion">

        <button type="submit">Buscar</button>
    </form>
</div>