<div>
    <div id="registro-title">
        <h2>Iniciar Sesion</h2>
        <p>Eres un nuevo usuario? <a href="/registro">Crea una Cuenta</a></p>
    </div>
    <form action="/login" method="POST" id="registro-form">
        <input type="text" name="username" autofocus placeholder="Nombre de Usuario">
        <input type="password" name="password" placeholder="Contrasenia">

        <button type="submit" id="enviar">Iniciar Sesion</button>
    </form>
</div>