<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEOPUNK</title>
</head>
<body>
    <header>
        <div>
            <h1>NEOPUNK</h1>
        </div>
        <div>
            <a href="/registro">Registrarse</a>
            <a href="/login">Iniciar Sesion</a>
        </div>
    </header>
    <main>
        <div>
            <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, asperiores!</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            <a href="/registro">Crear una Cuenta</a>
        </div>
    </main>
    <footer>
        <div>
            <h1>NEOPUNK</h1>
        </div>
        <div>
            <div>
                <h2>NEOPUNK</h2>
                <ul>
                    <li>Ventajas</li>
                    <li>Ayuda</li>
                    <li>Quienes Somos</li>
                </ul>
            </div>
            <div>
                <h2>Comunidades</h2>
                <ul>
                    <li>Para Artistas</li>
                    <li>Desarrolladores</li>
                    <li>Publicidad</li>
                    <li>Inversores</li>
                    <li>Proveedores</li>
                </ul>
            </div>
            <div>
                <h2>Legal</h2>
                <ul>
                    <li>Informacion Legal</li>
                    <li>Condiciones generales de uso</li>
                    <li>Politica de privacidad</li>
                    <li>Cookies</li>
                </ul>
            </div>
        </div>
        <div>
            <p>Derechos Reservados</p>
        </div>
    </footer>
</body>
</html>