<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEOPUNK</title>
    <link rel="stylesheet" href="/css/principal.css">
    <link rel="icon" href="/assets/icons/NEOPUNK_Icon1.svg" type="image/svg+xml">
</head>

<body>
    <header>
        <div>
            <img src="/assets/icons/NEOPUNK_Icon1.svg" alt="NEOPUNK Icon" id="neopunk-icon">
            <img src="/assets/icons/NEOPUNK_title1.svg" alt="NEOPUNK Title" id="neopunk-title">
        </div>
        <div>
            <a href="/registro">Registrarse</a>
            <a href="/login">Iniciar Sesion</a>
        </div>
    </header>
    <main>
        <div>
            <h1>Escuchar lo es todo</h1>
            <p>Millones de canciones de podcasts. Solo para ti</p>
            <a href="/registro">Crear una Cuenta</a>
        </div>
    </main>
    <footer>
        <!--FIRST DIV-->
        <div>
            <img src="/assets/icons/NEOPUNK_Icon1.svg" alt="NEOPUNK Icon">
            <img src="/assets/icons/NEOPUNK_title1.svg" alt="NEOPUNK Title">
        </div>
        <!--SECOND DIV-->
        <div>
            <div id="neopunk">
                <h2>NEOPUNK</h2>
                <ul>
                    <li>Ventajas</li>
                    <li>Ayuda</li>
                    <li>Quienes Somos</li>
                </ul>
            </div>
            <div id="comunidades">
                <h2>Comunidades</h2>
                <ul>
                    <li>Para Artistas</li>
                    <li>Desarrolladores</li>
                    <li>Publicidad</li>
                    <li>Inversores</li>
                    <li>Proveedores</li>
                </ul>
            </div>
            <div id="legal">
                <h2>Legal</h2>
                <ul>
                    <li>Informacion Legal</li>
                    <li>Condiciones generales de uso</li>
                    <li>Politica de privacidad</li>
                    <li>Cookies</li>
                </ul>
            </div>
        </div>
        </div>
    </footer>
</body>

</html>