<div>
    <div id="registro-title">
        <h2>Crear una Cuenta</h2>
        <p>Ya tienes una cuenta? <a href="/login">Inicia sesion</a></p>
    </div>
    <form action="/registro" method="POST" id="registro-form">
        <input type="text" name="name" placeholder="Nombre" autofocus>
        <input type="text" name="lastname" placeholder="Apellido">
        <input type="text" name="username" placeholder="Nombre de Usuario">
        <input type="password" name="password" placeholder="Contrasenia">

        <button type="submit">Crear cuenta</button>
    </form>
</div>