<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/registro_login.css">
    <link rel="icon" href="/assets/icons/NEOPUNK_Icon1.svg" type="image/svg+xml">
</head>

<body>
    <header></header>
    <main>
        <div>
            <a href="/">
                <img src="/assets/icons/NEOPUNK_Icon1.svg" alt="NEOPUNK Icon" id="neopunk-icon">
                <img src="/assets/icons/NEOPUNK_title1.svg" alt="NEOPUNK Title" id="neopunk-title">
            </a>
            <p>Crea una cuenta o inicia sesion</p>
        </div>
        {{{body}}}
    </main>
    <footer></footer>

    <script src="/prueba.js"></script>
</body>

</html>